body {
    background-image: url("../img/filmebackground.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

#menu-principal {
    //background-color: rgba(76, 73, 73, 0.32);
    background-color: rgb(76 73 73 / 0%);
}

#search-addon {
    background-color: rgba(0, 0, 0, 0);

}
#logo{
    color: #fff;
    background-color: #a9ff00;
    border: 1px solid #000000;
    border-radius: 0px 66px;
}

#iconsty{
    color: white;
    padding: 2px 0px 0px 7px;
}

/*.font_color {

}

.font_color:hover {
}*/
.navbar {
    color: white;
}
.navbar-brand {
    color: white;
    transition: 300ms;
}

.navbar-brand:hover {
    color: rgba(255, 255, 255, 0.55);
}

.linktemp {
    list-style: none;
}
.form-label {
    color: white;
}