<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Editar Produto</title>
</head>
<body>
<h1>Editar Produto</h1>
<form th:object="${filme}" th:action="@{/filme/editar}" method="post">
  <label for="titulo">Titulo:</label>
  <input type="text" id="titulo" name="titulo" th:field="*{titulo}"/>
  <br>
  <label for="genero">Genero:</label>
  <input type="text" id="genero" name="genero" th:field="*{genero}"/>
  <br>
  <label for="duracao">Duração:</label>
  <input type="text" id="duracao" name="duracao" th:field="*{duracao}"/>
  <br>
  <label for="sinopse">Sinopse:</label>
  <input type="text" id="sinopse" name="sinopse" th:field="*{sinopse}"/>
  <br>
  <label for="imdb">Imdb:</label>
  <input type="text" id="imdb" name="imdb" th:field="*{imdb}"/>
  <br>
  <label for="imagem">Imagem:</label>
  <input type="text" id="imagem" name="imagem" th:field="*{imagem}"/>
  <br>

  <label for="like">Like:</label>
  <input type="text" id="like" name="like" th:field="*{like}"/>
  <br>
  <button type="submit">Salvar</button>
  <a th:href="@{/filme}">Cancelar</a>
</form>
</body>
</html>